*{
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: navy;
  font-size: 14px; 
  font-family: "Krona One";
  /* background-image: uez; */
}

h1 {
  margin: 30px;
}

.languages {
  height: 400px;
  width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.language {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: skyblue;
  border: 1px solid navy;
  margin: 2px;
  border: dotted navy;
}

.voteCount {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language button {
  color: navyblue;
  background-color:skyblue;
  border: none;
  font-size: 14px;
  outline: dotted navy;
  cursor: pointer;
}